#banner {
  text-align: center;
  height: 400px;
  max-height: 80vh;
  background: #eee;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 40%;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.material-icons {
  font-family: 'Material Icons'!important;
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  margin-left: 6px;
}
#banner:before {
  content: '';
  background: rgba(0, 0, 0, 0.3);
}
.post-tag{
  top: 15px;
  left: 15px;
  background-color: #FFD439;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 5;
  height: 20px;
  line-height: 20px;
  padding: 3px 8px 3px 5px;
  font-size: 11px;
  margin-left: 9px;
}
img{
  width:100%;
}
.banner-cover, #banner:before {
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.banner-cover, #banner:before {
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

#banner-inner {
  text-align: left;
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.6));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.6));
}

.banner-cover, #banner:before {
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.banner-container {
  padding: 0 4px;
}

.page-title {
  margin: 8px 0;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
  font-size: 36px;
  max-width: 680px;
}

.home-template .page-title:not(.email-title):before, .tag-template .page-title:not(.email-title):before {
  content: 'Featured Post';
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  opacity: .8;
}

.meta {
  font-size: 14px;
}

.author-thumb {
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: inline-block;
}

.author-text {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.meta .name, .meta .tags a {
  font-weight: 500;
}

.meta .tags {
  opacity: .8;
}

#banner:after {
  display: inline-block;
  content: ' ';
  height: 100%;
  vertical-align: middle;
}

.meta.meta-date {
  margin-top: 10px;
}

figcaption, figure, main {
  display: block;
}

.page-content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#page-main {
  margin: 40px auto;
}

.page-content #page-main .page-article {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 6px;
}

p, .row {
  margin: 12px 0;
}

.post-author-thumb {
  text-align: left;
  margin: 36px 0;
}

.post-author-thumb img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  width: 56px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.post-author-thumb>div {
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 16px;
}

.post-author-thumb>div .name {
  font-weight: 700;
}

.post-author-thumb>div .tags {
  font-size: 14px;
  font-weight: 500;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 575.98px) {
  .banner-container {
    padding: 10px 28px;
  }
  .post-author-thumb>div {
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    text-align: center;
  }
  .page-title {
    margin: 8px 0;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    font-size: 22px;
    max-width: 680px;
  }
  #banner-inner {
    padding: 8px 0;
  }
  .author-text {
    font-size: 11px;
  }
  .meta {
    font-size: 10px;
  }
  .page-content #page-main .page-article {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 6px;
    text-align: justify;
  }
  .post-author-thumb>div .tags {
    font-size: 11px;
    font-weight: 500;
  }
  h2 {
    font-size: 15PX;
  }
  blockquote {
    padding: 11px 13px 11px 26px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .banner-container {
    padding: 10px 28px;
  }
  .post-author-thumb>div {
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    text-align: center;
  }
  .page-title {
    margin: 8px 0;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    font-size: 22px;
    max-width: 680px;
  }
  #banner-inner {
    padding: 8px 0;
  }
  .author-text {
    font-size: 11px;
  }
  .meta {
    font-size: 10px;
  }
  .page-content #page-main .page-article {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 6px;
    text-align: justify;
  }
  .post-author-thumb>div .tags {
    font-size: 11px;
    font-weight: 500;
  }
  h2 {
    font-size: 15PX;
  }
  blockquote {
    padding: 11px 13px 11px 26px;
  }
}
